@font-face {
    font-family: myFirstFont1;
    src: url(Resources/falling-sky-font/FallingSkyMedium-ved9.otf);
}

@font-face {
    font-family: myFirstFont2;
    src: url(Resources/swansea-font/Swansea-q3pd.ttf);
}

@font-face {
    font-family: myFirstFont3;
    src: url(Resources/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: myFirstFont4;
    src: url(Resources/ananda-black-font/AnandaBlackPersonalUseRegular-rg9Rx.ttf);
}

@font-face {
    font-family: myFirstFont5;
    src: url(Resources/hind-font/HindRegular-9YyOL.ttf);
}
:root {
    --bg: black;
    --black: white;
    --grey: #f7f7f7;
    --bblack: #acacac;
    --border: rgba(255, 239, 239, 0.8);
}
#search {
    color: var(--black);
}
h3 {
    color: var(--black);
}
.ic {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
*{
    margin: 0;
    padding: 0;
    font-family: myFirstFont3;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--black);
}
img{
    cursor: pointer;
}
.flex-div{
    display:flex;
    align-items: center;
}
nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: var(--bg);
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-right img{
    width: 25px;
    margin-right: 25px;
}
.nav-right .user-icon{
    width: 35;
    border-radius: 50%;
    margin-right: 0;
}
.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;
}
.nav-left .logo{
    width: 130px;
}
.nav-middle .mic-icon{
    width: 16px;
}
.nav-middle .search-box{
    border: 1px solid var(--black);
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}
.nav-middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav-middle .search-box img{
    width: 15px;

}
/*-----sidebar------*/

.sidebar {
    background: var(--bg);
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 100vh; /* Set a maximum height to enable scrolling */
    overflow-x: hidden;
}
.sidebar::-webkit-scrollbar {
    width: 12px;
}

.sidebar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    /* Optional: to add rounded corners */
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.shortcut-links a img{
    width: 20px;
    margin-right: 20px;
}
.shortcut-links a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}
.shortcut-links a:first-child{
    color: rgb(227, 196, 0);
}
.sidebar hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
}
.subscribed-list h3{
    font-size: 13px;
    margin: 20px 0;
    color: var(--bblack);
}
.subscribed-list a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}
.subscribed-list a img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}
.social-list h3{
    font-size: 13px;
    margin: 20px 0;
    color: var(--bblack);
}
.social-list a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}
.social-list a img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}




.small-sidebar{
    width: 5.5%;
}
.small-sidebar a p{
    display: none;
}
.small-sidebar h3{
    display: none;
}
.small-sidebar hr{
    width: 50%;
    margin-bottom: 50px;
}
/*----------main----------*/

.container{
    background: var(--bg);
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.large-container{
    padding-left: 7%;
}

.banner {
    width: 100%;
}

.banner img{
    width: 100%;
    border-radius: 8px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-img {
    width: 100%;
    height: auto;
}
.list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}
.vid-list .thumbnail{
    width: 100%;
    border-radius: 5px;
}
.vid-list .flex-div{
    align-items: flex-start;
    margin-top: 7px;
}
.vid-list .flex-div img{
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
}
.vid-info{
    color: var(--bblack);
    font-size: 13px;
}
.vid-info a{
    color: var(--black);
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}



@media (max-width: 900px){
    .menu-icon{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .container, .large-container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .nav-right img{
        display: none;
    }
    .nav-right .user-icon{
        display: block;
        width: 30px;
    }
    .nav-middle .search-box input{
        width: 120px;
    }
    .nav-middle .mic-icon{
        display: none;
    }
    .logo{
        width: 90px;
    }
}

/*-------play video page ---------*/

.play-container{
    padding-left: 2%;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.play-video{
    flex-basis: 69%;
}
.right-sidebar{
    flex-basis: 30%;
}
.play-video video{
    width: 100%;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video-list img{
    width: 100%;
}
.side-video-list .small-thumbnail{
    flex-basis: 49%;
}
.side-video-list .vid-info{
    flex-basis: 49%;
}
.play-video .tags a{
    color: #0000ff;
    font-size: 13px;
}
.play-video h3{
    font-weight: 600;
    font-size: 22px;
}
.play-video .play-video-info{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}
.play-video .play-video-info a img{
    width: 20px;
    margin-right: 8px;
    
}
.play-video .play-video-info a{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.play-video hr{
    border: 0;
    height: 1px;
    background: var(--bg);
    margin: 10px 0;
}
.plublisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.plublisher div{
    flex: 1;
    line-height: 18px;
}
.plublisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.plublisher div p{
    color: var(--black);
    font-weight: 600;
    font-size: 18px;
}
.plublisher div span{
    font-size: 13px;
    color: #5a5a5a;
}
/* .plublisher button{
    background: red;
    color: var(--bg);
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
} */
.vid-description{
    padding-left: 55px;
    margin: 15px 0;
}
.vid-description p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}
.vid-description h4{
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}
.add-comment{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.add-comment img{
    width: 35px;
    border-radius: 50px;
    margin-right: 15px;
}
.add-comment input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--bg);
    width: 100%;
    padding-top: 10px;
    background: transparent;
}
.old-comment{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.old-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.old-comment h3{
    font-size: 14px;
    margin-bottom: 2px;
}
.old-comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}
.old-comment .acomment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14;
}
.old-comment .acomment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}
.old-comment .acomment-action span{
    margin-right: 20px;
    color: 5a5a5a;
}
.old-comment .acomment-action a{
    color: #0000ff;
}

@media (max-width:900px){
    .play-video{
        flex-basis: 100%;
    }
    .right-sidebar{
        flex-basis: 100%;
    }
    .play-container{
        padding-left: 5%;
    }
    .vid-description{
        padding-left: 0;
    }
    .play-video .play-video-info a{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
}

/*seth*/
.play-container{
    padding-left: 2%;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.seth-video{
    flex-basis: 69%;
}
.right-sidebar{
    flex-basis: 30%;
}
.seth-video video{
    width: 100%;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video-list img{
    width: 100%;
}
.side-video-list .small-thumbnail{
    flex-basis: 49%;
}
.side-video-list .vid-info{
    flex-basis: 49%;
}
.seth-video .tags a{
    color: #0000ff;
    font-size: 13px;
}
.seth-video h3{
    font-weight: 600;
    font-size: 22px;
}
.seth-video .seth-video-info{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}
.seth-video .seth-video-info a img{
    width: 20px;
    margin-right: 8px;
    
}
.seth-video .seth-video-info a{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.seth-video hr{
    border: 0;
    height: 1px;
    background: var(--bg);
    margin: 10px 0;
}
.plublisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.plublisher div{
    flex: 1;
    line-height: 18px;
}
.plublisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.plublisher div p{
    color: var(--black);
    font-weight: 600;
    font-size: 18px;
}
.plublisher div span{
    font-size: 13px;
    color: #5a5a5a;
}
/* .plublisher button{
    background: red;
    color: var(--bg);
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
} */
.vid-description{
    padding-left: 55px;
    margin: 15px 0;
}
.vid-description p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}
.vid-description h4{
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}
.add-comment{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.add-comment img{
    width: 35px;
    border-radius: 50px;
    margin-right: 15px;
}
.add-comment input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--bg);
    width: 100%;
    padding-top: 10px;
    background: transparent;
}
.old-comment{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.old-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.old-comment h3{
    font-size: 14px;
    margin-bottom: 2px;
}
.old-comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}
.old-comment .acomment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14;
}
.old-comment .acomment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}
.old-comment .acomment-action span{
    margin-right: 20px;
    color: 5a5a5a;
}
.old-comment .acomment-action a{
    color: #0000ff;
}

@media (max-width:900px){
    .seth-video{
        flex-basis: 100%;
    }
    .right-sidebar{
        flex-basis: 100%;
    }
    .play-container{
        padding-left: 5%;
    }
    .vid-description{
        padding-left: 0;
    }
    .seth-video .seth-video-info a{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
}

.play-container{
    padding-left: 2%;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Ncash-video{
    flex-basis: 69%;
}
.right-sidebar{
    flex-basis: 30%;
}
.Ncash-video video{
    width: 100%;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video-list img{
    width: 100%;
}
.side-video-list .small-thumbnail{
    flex-basis: 49%;
}
.side-video-list .vid-info{
    flex-basis: 49%;
}
.Ncash-video .tags a{
    color: #0000ff;
    font-size: 13px;
}
.Ncash-video h3{
    font-weight: 600;
    font-size: 22px;
}
.Ncash-video .Ncash-video-info{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}
.Ncash-video .Ncash-video-info a img{
    width: 20px;
    margin-right: 8px;
    
}
.Ncash-video .Ncash-video-info a{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.Ncash-video hr{
    border: 0;
    height: 1px;
    background: var(--bg);
    margin: 10px 0;
}
.plublisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.plublisher div{
    flex: 1;
    line-height: 18px;
}
.plublisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.plublisher div p{
    color: var(--black);
    font-weight: 600;
    font-size: 18px;
}
.plublisher div span{
    font-size: 13px;
    color: #5a5a5a;
}
/* .plublisher button{
    background: red;
    color: var(--bg);
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
} */
.vid-description{
    padding-left: 55px;
    margin: 15px 0;
}
.vid-description p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}
.vid-description h4{
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}
.add-comment{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.add-comment img{
    width: 35px;
    border-radius: 50px;
    margin-right: 15px;
}
.add-comment input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--bg);
    width: 100%;
    padding-top: 10px;
    background: transparent;
}
.old-comment{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.old-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.old-comment h3{
    font-size: 14px;
    margin-bottom: 2px;
}
.old-comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}
.old-comment .acomment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14;
}
.old-comment .acomment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}
.old-comment .acomment-action span{
    margin-right: 20px;
    color: 5a5a5a;
}
.old-comment .acomment-action a{
    color: #0000ff;
}

@media (max-width:900px){
    .Ncash-video{
        flex-basis: 100%;
    }
    .right-sidebar{
        flex-basis: 100%;
    }
    .play-container{
        padding-left: 5%;
    }
    .vid-description{
        padding-left: 0;
    }
    .Ncash-video .Ncash-video-info a{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
}

.play-container{
    padding-left: 2%;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.virtual-video{
    flex-basis: 69%;
}
.right-sidebar{
    flex-basis: 30%;
}
.virtual-video video{
    width: 100%;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video-list img{
    width: 100%;
}
.side-video-list .small-thumbnail{
    flex-basis: 49%;
}
.side-video-list .vid-info{
    flex-basis: 49%;
}
.virtual-video .tags a{
    color: #0000ff;
    font-size: 13px;
}
.virtual-video h3{
    font-weight: 600;
    font-size: 22px;
}
.virtual-video .virtual-video-info{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}
.virtual-video .virtual-video-info a img{
    width: 20px;
    margin-right: 8px;
    
}
.virtual-video .virtual-video-info a{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.virtual-video hr{
    border: 0;
    height: 1px;
    background: var(--bg);
    margin: 10px 0;
}
.plublisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.plublisher div{
    flex: 1;
    line-height: 18px;
}
.plublisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.plublisher div p{
    color: var(--black);
    font-weight: 600;
    font-size: 18px;
}
.plublisher div span{
    font-size: 13px;
    color: #5a5a5a;
}
/* .plublisher button{
    background: red;
    color: var(--bg);
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
} */
.vid-description{
    padding-left: 55px;
    margin: 15px 0;
}
.vid-description p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}
.vid-description h4{
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}
.add-comment{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.add-comment img{
    width: 35px;
    border-radius: 50px;
    margin-right: 15px;
}
.add-comment input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--bg);
    width: 100%;
    padding-top: 10px;
    background: transparent;
}
.old-comment{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.old-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.old-comment h3{
    font-size: 14px;
    margin-bottom: 2px;
}
.old-comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}
.old-comment .acomment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14;
}
.old-comment .acomment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}
.old-comment .acomment-action span{
    margin-right: 20px;
    color: 5a5a5a;
}
.old-comment .acomment-action a{
    color: #0000ff;
}

@media (max-width:900px){
    .virtual-video{
        flex-basis: 100%;
    }
    .right-sidebar{
        flex-basis: 100%;
    }
    .play-container{
        padding-left: 5%;
    }
    .vid-description{
        padding-left: 0;
    }
    .virtual-video .virtual-video-info a{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
}

.play-container{
    padding-left: 2%;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.jamie-video{
    flex-basis: 69%;
}
.right-sidebar{
    flex-basis: 30%;
}
.jamie-video video{
    width: 100%;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video-list img{
    width: 100%;
}
.side-video-list .small-thumbnail{
    flex-basis: 49%;
}
.side-video-list .vid-info{
    flex-basis: 49%;
}
.jamie-video .tags a{
    color: #0000ff;
    font-size: 13px;
}
.jamie-video h3{
    font-weight: 600;
    font-size: 22px;
}
.jamie-video .jamie-video-info{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}
.jamie-video .jamie-video-info a img{
    width: 20px;
    margin-right: 8px;
    
}
.jamie-video .jamie-video-info a{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.jamie-video hr{
    border: 0;
    height: 1px;
    background: var(--bg);
    margin: 10px 0;
}
.plublisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.plublisher div{
    flex: 1;
    line-height: 18px;
}
.plublisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.plublisher div p{
    color: var(--black);
    font-weight: 600;
    font-size: 18px;
}
.plublisher div span{
    font-size: 13px;
    color: #5a5a5a;
}
/* .plublisher button{
    background: red;
    color: var(--bg);
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
} */
.vid-description{
    padding-left: 55px;
    margin: 15px 0;
}
.vid-description p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}
.vid-description h4{
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}
.add-comment{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.add-comment img{
    width: 35px;
    border-radius: 50px;
    margin-right: 15px;
}
.add-comment input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--bg);
    width: 100%;
    padding-top: 10px;
    background: transparent;
}
.old-comment{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.old-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.old-comment h3{
    font-size: 14px;
    margin-bottom: 2px;
}
.old-comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}
.old-comment .acomment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14;
}
.old-comment .acomment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}
.old-comment .acomment-action span{
    margin-right: 20px;
    color: 5a5a5a;
}
.old-comment .acomment-action a{
    color: #0000ff;
}

@media (max-width:900px){
    .jamie-video{
        flex-basis: 100%;
    }
    .right-sidebar{
        flex-basis: 100%;
    }
    .play-container{
        padding-left: 5%;
    }
    .vid-description{
        padding-left: 0;
    }
    .jamie-video .jamie-video-info a{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
}

.play-container{
    padding-left: 2%;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news-video{
    flex-basis: 69%;
}
.right-sidebar{
    flex-basis: 30%;
}
.news-video video{
    width: 100%;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video-list img{
    width: 100%;
}
.side-video-list .small-thumbnail{
    flex-basis: 49%;
}
.side-video-list .vid-info{
    flex-basis: 49%;
}
.news-video .tags a{
    color: #0000ff;
    font-size: 13px;
}
.news-video h3{
    font-weight: 600;
    font-size: 22px;
}
.news-video .news-video-info{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}
.news-video .news-video-info a img{
    width: 20px;
    margin-right: 8px;
    
}
.news-video .news-video-info a{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.news-video hr{
    border: 0;
    height: 1px;
    background: var(--bg);
    margin: 10px 0;
}
.plublisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.plublisher div{
    flex: 1;
    line-height: 18px;
}
.plublisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.plublisher div p{
    color: var(--black);
    font-weight: 600;
    font-size: 18px;
}
.plublisher div span{
    font-size: 13px;
    color: #5a5a5a;
}
/* .plublisher button{
    background: red;
    color: var(--bg);
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
} */
.vid-description{
    padding-left: 55px;
    margin: 15px 0;
}
.vid-description p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}
.vid-description h4{
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}
.add-comment{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.add-comment img{
    width: 35px;
    border-radius: 50px;
    margin-right: 15px;
}
.add-comment input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--bg);
    width: 100%;
    padding-top: 10px;
    background: transparent;
}
.old-comment{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.old-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.old-comment h3{
    font-size: 14px;
    margin-bottom: 2px;
}
.old-comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}
.old-comment .acomment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14;
}
.old-comment .acomment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}
.old-comment .acomment-action span{
    margin-right: 20px;
    color: 5a5a5a;
}
.old-comment .acomment-action a{
    color: #0000ff;
}

@media (max-width:900px){
    .news-video{
        flex-basis: 100%;
    }
    .right-sidebar{
        flex-basis: 100%;
    }
    .play-container{
        padding-left: 5%;
    }
    .vid-description{
        padding-left: 0;
    }
    .news-video .news-video-info a{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
}

.play-container{
    padding-left: 2%;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.anthony-video{
    flex-basis: 69%;
}
.right-sidebar{
    flex-basis: 30%;
}
.anthony-video video{
    width: 100%;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video-list img{
    width: 100%;
}
.side-video-list .small-thumbnail{
    flex-basis: 49%;
}
.side-video-list .vid-info{
    flex-basis: 49%;
}
.anthony-video .tags a{
    color: #0000ff;
    font-size: 13px;
}
.anthony-video h3{
    font-weight: 600;
    font-size: 22px;
}
.anthony-video .anthony-video-info{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}
.anthony-video .anthony-video-info a img{
    width: 20px;
    margin-right: 8px;
    
}
.anthony-video .anthony-video-info a{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.anthony-video hr{
    border: 0;
    height: 1px;
    background: var(--bg);
    margin: 10px 0;
}
.plublisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.plublisher div{
    flex: 1;
    line-height: 18px;
}
.plublisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.plublisher div p{
    color: var(--black);
    font-weight: 600;
    font-size: 18px;
}
.plublisher div span{
    font-size: 13px;
    color: #5a5a5a;
}
/* .plublisher button{
    background: red;
    color: var(--bg);
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
} */
.vid-description{
    padding-left: 55px;
    margin: 15px 0;
}
.vid-description p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}
.vid-description h4{
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}
.add-comment{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.add-comment img{
    width: 35px;
    border-radius: 50px;
    margin-right: 15px;
}
.add-comment input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--bg);
    width: 100%;
    padding-top: 10px;
    background: transparent;
}
.old-comment{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.old-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.old-comment h3{
    font-size: 14px;
    margin-bottom: 2px;
}
.old-comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}
.old-comment .acomment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14;
}
.old-comment .acomment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}
.old-comment .acomment-action span{
    margin-right: 20px;
    color: 5a5a5a;
}
.old-comment .acomment-action a{
    color: #0000ff;
}

@media (max-width:900px){
    .anthony-video{
        flex-basis: 100%;
    }
    .right-sidebar{
        flex-basis: 100%;
    }
    .play-container{
        padding-left: 5%;
    }
    .vid-description{
        padding-left: 0;
    }
    .anthony-video .anthony-video-info a{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
}

.play-container{
    padding-left: 2%;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.linus-video{
    flex-basis: 69%;
}
.right-sidebar{
    flex-basis: 30%;
}
.linus-video video{
    width: 100%;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video-list img{
    width: 100%;
}
.side-video-list .small-thumbnail{
    flex-basis: 49%;
}
.side-video-list .vid-info{
    flex-basis: 49%;
}
.linus-video .tags a{
    color: #0000ff;
    font-size: 13px;
}
.linus-video h3{
    font-weight: 600;
    font-size: 22px;
}
.linus-video .linus-video-info{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}
.linus-video .linus-video-info a img{
    width: 20px;
    margin-right: 8px;
    
}
.linus-video .linus-video-info a{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.linus-video hr{
    border: 0;
    height: 1px;
    background: var(--bg);
    margin: 10px 0;
}
.plublisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.plublisher div{
    flex: 1;
    line-height: 18px;
}
.plublisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.plublisher div p{
    color: var(--black);
    font-weight: 600;
    font-size: 18px;
}
.plublisher div span{
    font-size: 13px;
    color: #5a5a5a;
}
/* .plublisher button{
    background: red;
    color: var(--bg);
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
} */
.vid-description{
    padding-left: 55px;
    margin: 15px 0;
}
.vid-description p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}
.vid-description h4{
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}
.add-comment{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.add-comment img{
    width: 35px;
    border-radius: 50px;
    margin-right: 15px;
}
.add-comment input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--bg);
    width: 100%;
    padding-top: 10px;
    background: transparent;
}
.old-comment{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.old-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.old-comment h3{
    font-size: 14px;
    margin-bottom: 2px;
}
.old-comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}
.old-comment .acomment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14;
}
.old-comment .acomment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}
.old-comment .acomment-action span{
    margin-right: 20px;
    color: 5a5a5a;
}
.old-comment .acomment-action a{
    color: #0000ff;
}

@media (max-width:900px){
    .linus-video{
        flex-basis: 100%;
    }
    .right-sidebar{
        flex-basis: 100%;
    }
    .play-container{
        padding-left: 5%;
    }
    .vid-description{
        padding-left: 0;
    }
    .linus-video .linus-video-info a{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
}

/*Discover*/

.play-container{
    padding-left: 2%;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.discover-video{
    flex-basis: 69%;
}
.right-sidebar{
    flex-basis: 30%;
}
.discover-video video{
    width: 100%;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video-list img{
    width: 100%;
}
.side-video-list .small-thumbnail{
    flex-basis: 49%;
}
.side-video-list .vid-info{
    flex-basis: 49%;
}
.discover-video .tags a{
    color: #0000ff;
    font-size: 13px;
}
.discover-video h3{
    font-weight: 600;
    font-size: 22px;
}
.discover-video .discover-video-info{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}
.discover-video .discover-video-info a img{
    width: 20px;
    margin-right: 8px;
    
}
.discover-video .discover-video-info a{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.discover-video hr{
    border: 0;
    height: 1px;
    background: var(--bg);
    margin: 10px 0;
}
.plublisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.plublisher div{
    flex: 1;
    line-height: 18px;
}
.plublisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.plublisher div p{
    color: var(--black);
    font-weight: 600;
    font-size: 18px;
}
.plublisher div span{
    font-size: 13px;
    color: #5a5a5a;
}
/* .plublisher button{
    background: red;
    color: var(--bg);
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
} */
.vid-description{
    padding-left: 55px;
    margin: 15px 0;
}
.vid-description p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}
.vid-description h4{
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}
.add-comment{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.add-comment img{
    width: 35px;
    border-radius: 50px;
    margin-right: 15px;
}
.add-comment input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--bg);
    width: 100%;
    padding-top: 10px;
    background: transparent;
}
.old-comment{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.old-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.old-comment h3{
    font-size: 14px;
    margin-bottom: 2px;
}
.old-comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}
.old-comment .acomment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14;
}
.old-comment .acomment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}
.old-comment .acomment-action span{
    margin-right: 20px;
    color: 5a5a5a;
}
.old-comment .acomment-action a{
    color: #0000ff;
}

@media (max-width:900px){
    .discover-video{
        flex-basis: 100%;
    }
    .right-sidebar{
        flex-basis: 100%;
    }
    .play-container{
        padding-left: 5%;
    }
    .vid-description{
        padding-left: 0;
    }
    .discover-video .discover-video-info a{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
}
/*Band*/

.play-container{
    padding-left: 2%;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.band-video{
    flex-basis: 69%;
}
.right-sidebar{
    flex-basis: 30%;
}
.band-video video{
    width: 100%;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video-list img{
    width: 100%;
}
.side-video-list .small-thumbnail{
    flex-basis: 49%;
}
.side-video-list .vid-info{
    flex-basis: 49%;
}
.band-video .tags a{
    color: #0000ff;
    font-size: 13px;
}
.band-video h3{
    font-weight: 600;
    font-size: 22px;
}
.band-video .band-video-info{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}
.band-video .band-video-info a img{
    width: 20px;
    margin-right: 8px;
    
}
.band-video .band-video-info a{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.band-video hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}
.plublisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.plublisher div{
    flex: 1;
    line-height: 18px;
}
.plublisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.plublisher div p{
    color: var(--black);
    font-weight: 600;
    font-size: 18px;
}
.plublisher div span{
    font-size: 13px;
    color: #5a5a5a;
}
/* .plublisher button{
    background: red;
    color: var(--bg);
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
} */
.vid-description{
    padding-left: 55px;
    margin: 15px 0;
}
.vid-description p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}
.vid-description h4{
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}
.add-comment{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.add-comment img{
    width: 35px;
    border-radius: 50px;
    margin-right: 15px;
}
.add-comment input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--bg);
    width: 100%;
    padding-top: 10px;
    background: transparent;
}
.old-comment{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.old-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.old-comment h3{
    font-size: 14px;
    margin-bottom: 2px;
}
.old-comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}
.old-comment .acomment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14;
}
.old-comment .acomment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}
.old-comment .acomment-action span{
    margin-right: 20px;
    color: 5a5a5a;
}
.old-comment .acomment-action a{
    color: #0000ff;
}

@media (max-width:900px){
    .band-video{
        flex-basis: 100%;
    }
    .right-sidebar{
        flex-basis: 100%;
    }
    .play-container{
        padding-left: 5%;
    }
    .vid-description{
        padding-left: 0;
    }
    .band-video .band-video-info a{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
}
/*MoreCrypot*/
.play-container{
    padding-left: 2%;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.morecrypto-video{
    flex-basis: 69%;
}
.right-sidebar{
    flex-basis: 30%;
}
.morecrypto-video video{
    width: 100%;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video-list img{
    width: 100%;
}
.side-video-list .small-thumbnail{
    flex-basis: 49%;
}
.side-video-list .vid-info{
    flex-basis: 49%;
}
.morecrypto-video .tags a{
    color: #0000ff;
    font-size: 13px;
}
.morecrypto-video h3{
    font-weight: 600;
    font-size: 22px;
}
.morecrypto-video .morecrypto-video-info{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}
.morecrypto-video .morecrypto-video-info a img{
    width: 20px;
    margin-right: 8px;
    
}
.morecrypto-video .morecrypto-video-info a{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.morecrypto-video hr{
    border: 0;
    height: 1px;
    background: var(--bg);
    margin: 10px 0;
}
.plublisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.plublisher div{
    flex: 1;
    line-height: 18px;
}
.plublisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.plublisher div p{
    color: var(--black);
    font-weight: 600;
    font-size: 18px;
}
.plublisher div span{
    font-size: 13px;
    color: #5a5a5a;
}
/* .plublisher button{
    background: red;
    color: var(--bg);
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
} */
.vid-description{
    padding-left: 55px;
    margin: 15px 0;
}
.vid-description p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}
.vid-description h4{
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}
.add-comment{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.add-comment img{
    width: 35px;
    border-radius: 50px;
    margin-right: 15px;
}
.add-comment input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--bg);
    width: 100%;
    padding-top: 10px;
    background: transparent;
}
.old-comment{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.old-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.old-comment h3{
    font-size: 14px;
    margin-bottom: 2px;
}
.old-comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}
.old-comment .acomment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14;
}
.old-comment .acomment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}
.old-comment .acomment-action span{
    margin-right: 20px;
    color: 5a5a5a;
}
.old-comment .acomment-action a{
    color: #0000ff;
}

@media (max-width:900px){
    .morecrypto-video{
        flex-basis: 100%;
    }
    .right-sidebar{
        flex-basis: 100%;
    }
    .play-container{
        padding-left: 5%;
    }
    .vid-description{
        padding-left: 0;
    }
    .morecrypto-video .morecrypto-video-info a{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
}
/*Brain*/
.play-container{
    padding-left: 2%;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.brain-video{
    flex-basis: 69%;
}
.right-sidebar{
    flex-basis: 30%;
}
.brain-video video{
    width: 100%;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video-list img{
    width: 100%;
}
.side-video-list .small-thumbnail{
    flex-basis: 49%;
}
.side-video-list .vid-info{
    flex-basis: 49%;
}
.brain-video .tags a{
    color: #0000ff;
    font-size: 13px;
}
.brain-video h3{
    font-weight: 600;
    font-size: 22px;
}
.brain-video .brain-video-info{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}
.brain-video .brain-video-info a img{
    width: 20px;
    margin-right: 8px;
    
}
.brain-video .brain-video-info a{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.brain-video hr{
    border: 0;
    height: 1px;
    background: var(--bg);
    margin: 10px 0;
}
.plublisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.plublisher div{
    flex: 1;
    line-height: 18px;
}
.plublisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.plublisher div p{
    color: var(--black);
    font-weight: 600;
    font-size: 18px;
}
.plublisher div span{
    font-size: 13px;
    color: #5a5a5a;
}
/* .plublisher button{
    background: red;
    color: var(--bg);
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
} */
.vid-description{
    padding-left: 55px;
    margin: 15px 0;
}
.vid-description p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}
.vid-description h4{
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}
.add-comment{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.add-comment img{
    width: 35px;
    border-radius: 50px;
    margin-right: 15px;
}
.add-comment input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--bg);
    width: 100%;
    padding-top: 10px;
    background: transparent;
}
.old-comment{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.old-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.old-comment h3{
    font-size: 14px;
    margin-bottom: 2px;
}
.old-comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}
.old-comment .acomment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14;
}
.old-comment .acomment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}
.old-comment .acomment-action span{
    margin-right: 20px;
    color: 5a5a5a;
}
.old-comment .acomment-action a{
    color: #0000ff;
}

@media (max-width:900px){
    .brain-video{
        flex-basis: 100%;
    }
    .right-sidebar{
        flex-basis: 100%;
    }
    .play-container{
        padding-left: 5%;
    }
    .vid-description{
        padding-left: 0;
    }
    .brain-video .brain-video-info a{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
}

/*----------------other---------------*/

footer {
    text-align: center;
    background: var(--bg);
    padding: 20px 0;
}

footer p {
    color: var(--bblack);
    margin-top: 10px; /* Add top margin for spacing */
    font-size: 14px; /* Adjust the font size for mobile screens */
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 10px; /* Add horizontal margin for spacing between links */
    font-size: 14px; /* Adjust the font size for mobile screens */
}

footer ul li a {
    text-decoration: none;
    color: #333;
}

.loader {
    border-top: 5px solid hotpink;
    border-bottom: 5px solid #f55951;
    border-left: 5px solid #3a9efd;
    border-right: 5px solid #1fff7c;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    animation: looper 5s infinite ease-in-out;
  }
  
  @keyframes looper {
    0% {
      border-radius: 100% 100% 100% 100%;
      border-color: hotpink #3a9efd #1fff7c #f55951;
    }
  
    10% {
      border-radius: 0% 100% 0% 0%;
      border-color: #f55951;
      transform: rotate(150deg);
    }
  
    20% {
      border-radius: 0% 0% 0% 0%;
      border-color: #3a9efd;
    }
  
    30% {
      border-radius: 0% 0% 0% 0%;
      border-color: #1fff7c;
    }
  
    40% {
      border-radius: 0% 0% 0% 0%;
      border-color: #3a9efd;
    }
  
    50% {
      border-radius: 100%;
      border-color: #f55951;
    }
  
    90% {
      border-radius: 100%;
      transform: rotate(360deg);
      border-style: dashed;
    }
  
    100% {
      transform: rotate(0deg);
      border-radius: 100% 100% 100% 100%;
      border-color: hotpink #3a9efd #1fff7c #f55951;
    }
  }
  
  .theme-switch {
    --toggle-size: 30px;
    /* the size is adjusted using font-size,
       this is not transform scale,
       so you can choose any size */
    --container-width: 3.625em;
    --container-height: 1.5em;
    --container-radius: 5.25em;
    /* radius 0 - minecraft mode :) */
    --container-light-bg: #3D7EAE;
    --container-night-bg: #1D1F2C;
    --circle-container-diameter: 1.375em;
    --sun-moon-diameter: 1.125em;
    --sun-bg: #ECCA2F;
    --moon-bg: #C4C9D1;
    --spot-color: #959DB1;
    --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
    --stars-color: var(--bg);
    --clouds-color: var(--bg);
    --back-clouds-color: #AACADF;
    --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
    --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
  }
  
  .theme-switch, .theme-switch *, .theme-switch *::before, .theme-switch *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--toggle-size);
  }
  
  .theme-switch__container {
    width: var(--container-width);
    height: var(--container-height);
    background-color: var(--container-light-bg);
    border-radius: var(--container-radius);
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
  }
  
  .theme-switch__container::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    border-radius: var(--container-radius)
  }
  
  .theme-switch__checkbox {
    display: none;
  }
  
  .theme-switch__circle-container {
    width: var(--circle-container-diameter);
    height: var(--circle-container-diameter);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: var(--circle-container-offset);
    top: var(--circle-container-offset);
    border-radius: var(--container-radius);
    -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    pointer-events: none;
  }
  
  .theme-switch__sun-moon-container {
    pointer-events: auto;
    position: relative;
    z-index: 2;
    width: var(--sun-moon-diameter);
    height: var(--sun-moon-diameter);
    margin: auto;
    border-radius: var(--container-radius);
    background-color: var(--sun-bg);
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    overflow: hidden;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  
  .theme-switch__moon {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: var(--moon-bg);
    border-radius: inherit;
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
  }
  
  .theme-switch__spot {
    position: absolute;
    top: 0.75em;
    left: 0.312em;
    width: 0.75em;
    height: 0.75em;
    border-radius: var(--container-radius);
    background-color: var(--spot-color);
    -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
  }
  
  .theme-switch__spot:nth-of-type(2) {
    width: 0.375em;
    height: 0.375em;
    top: 0.937em;
    left: 1.375em;
  }
  
  .theme-switch__spot:nth-last-of-type(3) {
    width: 0.25em;
    height: 0.25em;
    top: 0.312em;
    left: 0.812em;
  }
  
  .theme-switch__clouds {
    width: 1.25em;
    height: 1.25em;
    background-color: var(--clouds-color);
    border-radius: var(--container-radius);
    position: absolute;
    bottom: -0.625em;
    left: 0.312em;
    -webkit-box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  }
  
  .theme-switch__stars-container {
    position: absolute;
    color: var(--stars-color);
    top: -100%;
    left: 0.312em;
    width: 2.75em;
    height: auto;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  
  /* actions */
  
  .theme-switch__checkbox:checked + .theme-switch__container {
    background-color: var(--container-night-bg);
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container:hover {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em)
  }
  
  .theme-switch__circle-container:hover {
    left: calc(var(--circle-container-offset) + 0.187em);
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__moon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__clouds {
    bottom: -4.062em;
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__stars-container {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  
  .btn {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 15px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 14px;
    justify-content: center;
    line-height: 0.4em;
    max-width: 100%;
    min-width: 100px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
   }
   
   .btn:active,
   .btn:hover {
    outline: 0;
   }
   
   .btn span {
    background-color: rgb(5, 6, 45);
    padding: 12px 20px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
   }
   
   .btn:hover span {
    background: none;
   }
   
   .btn:active {
    transform: scale(0.9);
   }